.item {
	font-family: 'Amatic SC';
	font-size: 2em;
	padding: 15px;
}

img {
	width: 15%;
	padding: 25px;

}


.hamburger {
	background-color: black;
	width: 35px;
	height: 5px;
	margin: 0px 0;
	float: right;

}

.uimenu {
	float: left;
	padding-bottom: 20px;
}