.item {
	font-family: 'Amatic SC';
	font-size: 2em;
	padding: 20px;
}

.ui_menu {
	background-color: #bfe6ff;
	padding: 10px;
}

.ui_menu a {
	font-family: 'Amatic SC';
	font-size: 2em;
	padding: 20px;	
}


/*.hamburger {
	background-color: black;
	width: 35px;
	height: 5px;
	margin: 0px 0;
	float: right;

}

.uimenu {
	float: left;
	padding-bottom: 20px;
}*/


/*Mission + Intro */

img {
	width: 30%;
	padding: 25px;
	float: left;
}

#mission {
	padding: 15px;
}

#mission_text {
	padding: 25px;
	padding-top: 30px;
}

#mission_text h1 {
	font-family: 'Amatic SC';
}

#mission_text p {
	font-family: 'Raleway';
	font-size: 0.5em;
}


/* In the Skies (Case Studies) */

.casestudy {
	clear: both;
	padding: 20px;
	width: 100%;
}

.casestudy h1 {
	font-family: 'Amatic SC';
	clear: both;
}

.casestudy iframe {
	clear: both;
}

#logo_text {
	padding: 10px;
	margin-top: 20px;
	clear: both;
	background-color: #113366;
}

#logo_text p {
	padding-top: 25px;
	font-family: 'Raleway';
	color: white;
}

#logo_text img {
	float: left;
	width: 20%;
}





/* Contact Us Form */

#contactform {
	background-color: #bfe6ff;
	padding: 5px;
	padding-bottom: 30px;
	margin: 15px;
	clear: both;
}

#formlabel {
	font-family: 'Amatic SC';
	font-size: 2em;
	padding-left: 20px;
}

form {
	font-family: 'Raleway';
}

.form_imput {
	font-family: 'Raleway';
	font-size: 1em;
	padding: 10px;
	padding-left: 20px;
}

input[type=text] {
   width: 300px;
}

input[type=email] {
   width: 330px;
}